[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/taglist"]
	path = home/.vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "home/.vim/bundle/gundo"]
	path = home/.vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/php-doc"]
	path = home/.vim/bundle/php-doc
	url = https://github.com/vim-scripts/PDV--phpDocumentor-for-Vim.git
[submodule "home/.vim/bundle/minibufexpl"]
	path = home/.vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "home/.vim/bundle/jellybeans.vim"]
	path = home/.vim/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "home/.vim/bundle/vim-snipmate"]
	path = home/.vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "home/.vim/bundle/vim-powerline"]
	path = home/.vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "home/.vim/bundle/snipmate-snippets"]
    path = home/.vim/bundle/snipmate-snippets
    url = https://github.com/honza/snipmate-snippets.git
[submodule "home/.vim/bundle/liquid-syntax"]
	path = home/.vim/bundle/liquid-syntax
	url = git://github.com/tpope/vim-liquid.git
[submodule "home/.vim/bundle/tasklist"]
	path = home/.vim/bundle/tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "home/.vim/bundle/command-t"]
	path = home/.vim/bundle/command-t
	url = git://github.com/wincent/Command-T.git
