[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/taglist"]
	path = home/.vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "home/.vim/bundle/gundo"]
	path = home/.vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/php-doc"]
	path = home/.vim/bundle/php-doc
	url = git://github.com/vim-scripts/PDV--phpDocumentor-for-Vim.git
[submodule "home/.vim/bundle/minibufexpl"]
	path = home/.vim/bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "home/.vim/bundle/jellybeans.vim"]
	path = home/.vim/bundle/jellybeans.vim
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "home/.vim/bundle/vim-powerline"]
	path = home/.vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "home/.vim/bundle/liquid-syntax"]
	path = home/.vim/bundle/liquid-syntax
	url = git://github.com/tpope/vim-liquid.git
[submodule "home/.vim/bundle/tasklist"]
	path = home/.vim/bundle/tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "home/.vim/bundle/command-t"]
	path = home/.vim/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "home/.vim/bundle/jslint"]
	path = home/.vim/bundle/jslint
	url = git://github.com/hallettj/jslint.vim.git
[submodule "home/.vim/bundle/vim-puppet"]
	path = home/.vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "home/.vim/bundle/tabular"]
	path = home/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "home/.vim/bundle/nginx-syntax"]
	path = home/.vim/bundle/nginx-syntax
	url = git@github.com:evanmiller/nginx-vim-syntax.git
[submodule "home/.vim/bundle/gitgutter"]
	path = home/.vim/bundle/gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
