[user]
    name = stefanooldeman
    email = stefano.oldeman@gmail.com
[alias]
    s = status
    st = status
    tree = log --graph --oneline --decorate
    log = log --decorate
    branch = branch -vv
    logline = log --pretty='%h %ad %s'
    releases = log --pretty='%h | %ci | %f | %aN' --grep 'Merge pull request'
    adog = log --all --decorate --oneline --graph

    co = checkout
    ci = commit
    br = branch
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
# Gerrit / Codereview  https://golang.org/doc/contribute.html
    change = codereview change
    gofmt = codereview gofmt
    mail = codereview mail
    pending = codereview pending
    submit = codereview submit
    sync = codereview sync
[merge]
    tool = ksdiff

# colour output for diffs
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

#Highlight whitespace in diffs
[color]
    ui = true
[color "diff"]
    whitespace = red reverse
[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    editor = vim
    autocrlf = input
    pager = less -r
	excludesfile = /Users/stefano/.gitignore_global
[diff "sopsdiffer"]
	textconv = sops -d
