[user]
	name = stefanooldeman
	email = stefano.oldeman@gmail.com
[alias]
	st = status
[merge]
	tool = opendiff
[core]
	excludesfiles = /Users/stefanooldeman/.gitignore_global
	excludesfile = /Users/stefanooldeman/.gitignore_global
	quotepath = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
